{% load static%}
{% block content%}

<nav class = "navbar">
    <ul>
        <div>
            <li class ="navbar-logo"><a href="//127.0.0.1:8000/index"> BRAIN NOT BRAND </a></li>
        </div>

        <ul class = "navbar-menu">
            <li><a href ="//127.0.0.1:8000/index"> SHOP</a></li>
            <!--<li><a href ="//127.0.0.1:8000/index"> SALES</a></li>-->
            <li><a href ="//127.0.0.1:8000/about"> ABOUT</a></li>
            <li><a href ="//127.0.0.1:8000/contact"> CONTACT</a></li>
        </ul>

        <div class="navbar-login">
            <a href="//127.0.0.1:8000/login">Login</a> / <a href="//127.0.0.1:8000/signup">Sign up</a>
        </div>
    </ul>    
</nav>

{% endblock %}