{% extends "main.html" %}
{% load static%}
{% block content%}

<div class="about"> 

    <div class ="banner">
        <img src="{% static 'images/navi.jpg' %}"  alt="navi" class="banner-img" >
    </div>

    <p class ="paragraph-spacing"></p>

    <h1>ABOUT US</h1>

    <p>Hệ thống cửa hàng quần áo được ra mắt vào năm 2024, nơi có thể đem đến những trải nghiệm tốt nhất về các sản phẩm và dịch vụ mua sắm.<br>
    Chúng tôi mang đến phong cách đường phố kết hợp với sự trẻ trung, năng động trong từng thiết kế và luôn đảm bảo về mặt chất lượng.<br>
    BnB(Brain Not Brand) tượng trưng cho việc cái tên không chỉ là một thương hiệu mà còn là một lối suy nghĩ, ý tưởng đã được vun đắp và xây dựng.</p>

    <p class ="paragraph-spacing"></p>

    <div class = "banner">
        <img src="{% static 'images/navi2.jpg' %}"  alt="navi" class="about-banner-2" >
    </div>

    <p class ="paragraph-spacing"></p>

    <p>Xin trân trọng cảm ơn quý khách đã ủng hộ và đồng hành cùng chúng tôi.<br>
        Chúng tôi sẽ đảm bảo làm hài lòng nhất về chất lượng sản phẩm cũng như dịch vụ chăm sóc khác.<br>
        Sự hiện diện và hỗ trợ của mọi người là động lực cho chúng tôi có thể tiếp tục duy trì và hoạt động tốt nhất.<br>
        Xin trân thành cảm ơn!</p>
    <p class ="paragraph-spacing"></p>

</div>
{% endblock %}