

    <main>
        <div id = "wrapper"></div>
        <ul class="products">
            <li>
                <div class="product-items">
                    <div class="product-top">
                        <a href="" class="product-thumb">
                            <img src = "image/blacktee.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="" class="product-name">BLACK BASIC TEE</a>
                        <div class="product-price">199K</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-items">
                    <div class="product-top">
                        <a href="" class="product-thumb">
                            <img src = "image/redtee.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="" class="product-name">RED BASIC TEE</a>
                        <div class="product-price">229K</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-items">
                    <div class="product-top">
                        <a href="" class="product-thumb">
                            <img src = "image/browntee.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="" class="product-name">BROWN BASIC TEE</a>
                        <div class="product-price">199K</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-items">
                    <div class="product-top">
                        <a href="" class="product-thumb">
                            <img src = "image/dkmv.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="" class="product-name">DKMV TEE</a>
                        <div class="product-price">299K</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-items">
                    <div class="product-top">
                        <a href="" class="product-thumb">
                            <img src = "image/facetee.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="" class="product-name">THE FACE TEE</a>
                        <div class="product-price">319K</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-items">
                    <div class="product-top">
                        <a href="" class="product-thumb">
                            <img src = "image/missy.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="" class="product-name">MISSY TEE</a>
                        <div class="product-price">229K</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-items">
                    <div class="product-top">
                        <a href="" class="product-thumb">
                            <img src = "image/ontop.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="" class="product-name">ONTOP TEE</a>
                        <div class="product-price">279K</div>
                    </div>
                </div>
            </li>
            
            <li>
                <div class="product-items">
                    <div class="product-top">
                        <a href="" class="product-thumb">
                            <img src = "image/whitetee.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="" class="product-name">WHITE BASIC TEE</a>
                        <div class="product-price">199K</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-items">
                    <div class="product-top">
                        <a href="" class="product-thumb">
                            <img src = "image/SG.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="" class="product-name">SAIGON TEE</a>
                        <div class="product-price">199K</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-items">
                    <div class="product-top">
                        <a href="" class="product-thumb">
                            <img src = "image/rabbit.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="" class="product-name">RABBIT TEE</a>
                        <div class="product-price">399K</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-items">
                    <div class="product-top">
                        <a href="" class="product-thumb">
                            <img src = "image/highclub.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="" class="product-name">HIGHCLUB TEE</a>
                        <div class="product-price">259K</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-items">
                    <div class="product-top">
                        <a href="" class="product-thumb">
                            <img src = "image/AI.jpg" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="" class="product-name">AI TEE</a>
                        <div class="product-price">279K</div>
                    </div>
                </div>
            </li>
        </ul>
    </main>
    <p class ="paragraph-spacing"></p>
    <footer id = "Footer">
    </footer>
    <script type = "text/javascript">
        $('#Header').load('Navbar.html');
        $('#Footer').load('Footer.html');
    </script>
</body>
</html>